body{
    background-color: white;
    height: 100%;
    width: auto;
}
#bodypage{
    display: flex;
    flex-direction: row;
    flex: 1;
    height: auto;
    width: auto;
    margin: 0 1em;
}
#proplistbox{
  width: 18%;
  height: 85vh;
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 1em;
  border-top-left-radius: 1em;
  margin: 0;
}
#titlelist{
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em 1em;
  margin: 0;
  gap: 0.5em;
  overflow-y: auto;
}
#titlebutton{
  width: 100%;
  height: auto;
  margin: 0;
  text-transform: none;
  color: black;
  display: flex;
  justify-content: flex-start !important;
  text-align: left;
  align-items: flex-start;
  font-size: small;
  font-weight: bold;
}

#buttonstitle{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 0.5em;
}

#deletebutton{
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#deletebutton:active {
  color: rgb(195, 195, 195);
}